/* :root {
  --color-primary: #1abc9c;
  --color-secondary: #2c3e50;
  --color-accent: #34495e;
  --color-text-light: #ffffff;
  --color-hover: #16a085;
  --color-bg: #f4f4f4;
} */

:root {
  --color-primary: #6c63ff;       /* Main Purple */
  --color-secondary: #5f27cd;     /* Deep Purple */
  --color-accent: #3d5af1;        /* Blue Accent */
  --color-light: #ffffff;         /* White Backgrounds */
  --color-bg-light: #f9f9f9;      /* Soft Gray Background */
  --color-text-dark: #2c3e50;     /* Dark Text */
  --color-hover: #eeeafd;         /* Light Hover Background */
  --color-border: #e0e0e0;        /* Subtle borders */
}

.totalContainer{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100vh;  
  /* padding: 1.5px; */
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
}

